# Project: enocean-core
# File: .prettierrc.js 
# 
# Copyright 2020 Henning Kerstan
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# Prettier config 
# - using YAML format to allow for comments (not possible in JSON)
# - JS format is not (yet?) correctly interpreted by VS Code

semi: false # Only add semicolons at the beginning of lines that may introduce ASI failures
trailingComma: 'all'
singleQuote: true
printWidth: 80
tabWidth: 2
endOfLine: 'lf' # enforce end of line to be LF only (not CRLF on Windows); best to combine with .gitattributes entry "*.ts text eol=lf" and (optionally) "*.js text eol=lf"
arrowParens: always
